body{
    width:80%;
    height:100%;
    margin:0;
    padding-left:120px;
    
    
}
a{
    text-decoration:none;

    color:#ededed;
}
.header{
    background-color:#000;
    border-color:#080808;
    min-height:50px;
    border: 1px solid transparent;
    color:#f8f8f8;
    border-collapse:collapse;
}

.logo{
    float: left;
    height:50px;
    padding:15px;
    font-size:20px;
    font-weight:bold;
}

.header-link{
    float:right;
    font-size:14px;
    height:50px;
    padding:15px 15px;
    font-size:16px;
    font-weight:bold;
    
}

#content{
    position:relative;
    padding-top:6%;
    padding-bottom:6%;
    overflow:hidden;
    margin-bottom:12%;
    background-color:rgba(0,0,0,0.7);
    max-width:660px;
}

#background-image{
    background-image:url("intro-bg_1.jpg");
    padding-top:50px;
    margin-top:20px;
    text-align:center;
    color:#f8f8f8;
    background-size:cover;
    border-collapse:collapse;
    margin:auto;
    height:450px;
}

.container{
    width:100%;
    margin:auto;
    overflow:hidden;
    
}

.items{
    width:30%;
    display:block;
    padding:4px;
    margin-bottom:20px;
    background-color:#fff;
    line-height:1.421857143;
    border-radius:4px;
    border:1px solid #ddd;
    float:left;
    margin-left:1%;
}
.thumbnail{
    display:block;
    max-width:100%;
    height:auto;
}
.captions{
    color:#000;
    padding:0px 10px 10px;
    font-weight:bold;
    text-align:center;
}
footer{
    background-color:#000;
    color:#fff;
    font-size:14px;
}
.fbutton{
    color:#fff;
    background-color:#c9302c;
    border-color:#ac2925;
    box-shadow:inset 0 3px 5px rgba(0,0,0,.125);
    padding:10px 16px;
    font-size:18px;
    border-radius:19px;
}
.xyz{
    width:100%;
    margin:auto;
    overflow:hidden;
    background-color:#000;
    color:#fff;
}
h1{
    line-height:5px;
}

@media (min-width:320px) {.container {
                              width:320px;
                          }
}
@media (min-width:481px) {.container {
                              width:481px;
                          }}
@media (min-width:641px) {.contianer {
                              width:641px;
                          }}
@media (min-width:961px) {.container {
                              width:961px;
                          }}
@media(min-width:1000px) {.container {
                              width:1000px;
                          }}
.git{
    line-height:9px;
    move-up:2px;
}
